<%- include ('partials/_header'); %>



<form action="/cat/submit" method="POST">

 
<div>
    <input  type="text" id="ca0" name="ca0" placeholder="elemento"
    </div>
    <label  for="co0">Elemento</label>
    
    <a href="/cat" class="btn">Cancel</a>
    <button class=btn type="submit">Enviar</button>
</div>
</form>

<%- include ('partials/_footer'); %>