<%- include ('../partials/styles'); %>
<title>Registro de Datos</title>
</head>
<nav>
  <ul>
    <li><a href="/cat">Indice</a></li>
    <li><a href="/db">Elementos</a></li>
    <li><a href="/">Salir</a></li>
    <!-- <li><a href="/ope">Operaciones</a></li>
    <li><a href="/chr">Características</a></li>
    <li><a href="/fme">Modos de Falla</a></li>
    <li><a href="/pro">Procedimientos</a></li> -->
  </ul>
</nav>
</br>
<!-- <a href="/">Salir</a>
<a href="/cat" class="btn">Ir a las categorias</a>
<a href="/db" class="btn">Listar todos los elementos</a> -->


  <h2>Intercambio de codigo</h2>
</br>


<!-- </br>
</br>
</br> -->